@font-face {
    font-family: ds;
    src: url("./fonts/If2RXTr6YS-zF4S-kcSWSVi_szLgiuE.ttf");
}

@font-face {
    font-family: openSans;
    src: url("./fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.ttf");
}

:root {
  --light_golden-color: #ffc853;
  --golden-color: #FFBE33;
  --dark-black: #222831;
  --grey-color: #F1F2F3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: openSans;
}

html,body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

.golden_btn {
    padding: .75vmax 3vmax;
    width: fit-content;
    border: none;
    background-color: var(--light_golden-color);
    border-radius: 5vw;
    color: #fff;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5vw;

    &:hover {
        background-color: var(--golden-color);
    }
}

.section1 {
    height: 100vh;
    width: 100%;
    background-image: url("./imgs/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    /* position: relative; */
    
    nav {
        height: 10%;
        width: 75%;
        /* background-color: red; */
        padding-bottom: 1vmax;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        
        .logo {
            font-family: ds;
            font-size: 2rem;
            font-weight: 500;
        }

        .menu_toggle {
            display: none;
        }

    }
    #responsive_elems {
        display: none;
    }
    
    .nav_elems {
        display: flex;
        align-items: center;
        gap: 10vmax;
        
        .links {
            display: flex;
            gap: 2.5vmax;
            
            a {
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
            }

            a:first-child {
                color: var(--golden-color);
            }

            a:hover {
                color: var(--golden-color);
            }
        }
        
        .others_elems {
            display: flex;
            align-items: center;
            gap: 1vw;
            font-size: 1.2rem;
        }
    }

    .crousal {
        height: 90%;
        width: 100%;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        gap: 10vh;
        padding: 8vw 0 0 12vw;

        .desc {
            height: 54%;
            width: 40vw;
            /* background-color: #100404; */
            display: flex;
            flex-direction: column;
            gap: 3vh;

            h1 {
                font-family: ds;
                font-size: 3.5rem;
                font-weight: 100;
                
            }
        }

        .bullets {
            /* height: 6%; */
            max-width: 4.5vmax;
            /* background-color: #ce9d9d; */
            display: flex;
            align-items: center;
            justify-content: space-between;

            div {
                height: 1.2vmax;
                width: 1.2vmax;
                border-radius: 50%;
                background-color: #fff;
            }
            
            div:first-child {
                height: 1.7vmax;
                width: 1.7vmax;
                background-color: var(--golden-color);
            }
        }
    }
}

.section2 {
    height: 50vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    /* display: none; */

    .banners {
        height: 60%;
        width: 35%;
        background-color: var(--dark-black);
        border-radius: .5vw;
        display: flex;
        align-items: center;
        /* justify-content: center; */
        gap: 1.5vw;
        padding-left: 2vw;
        color: #fff;

        .part1 {
            height: 25vh;
            width: 25vh;
            /* background-color: red; */
            border-radius: 50%;
            border: .4vw solid var(--golden-color);
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                background-size: cover;
                transition: transform 0.3s ease-in-out;
            }
        }

        .part2 {
            display: flex;
            flex-direction: column;
            gap: 1vh;
            
            h2 {
                font-family: ds;
                font-weight: 100;
            }
            
            h1 {
                font-family: ds;
                font-weight: 100;
                
                span {
                    font-family: ds;
                    font-weight: 100;
                    font-size: 2.8rem;
                }
            }
        }
    }

    .banners:hover > .part1 > img {
        transform: scale(1.1);
    }
}

.section3 {
    min-height: 10vmax;
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        text-align: center;
        font-family: ds;
        font-size: 2.5rem;
        font-weight: 500;
    }

    .categories {
        height: 10vmax;
        width: 100%;
        /* background-color: blue; */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5vmax;

        .category {
            padding: .5vmax 1.5vmax;
            border-radius: 2vmax;
        }
        
        .category:first-child {
            background-color: var(--dark-black);
            color: #fff;
        }
    }

    .cards {
        min-height: 10vmax;
        width: 75%;
        /* background-color: red; */
        display: flex;
        flex-wrap: wrap;
        gap: 1.8vmax;
        
        .card {
            height: 27.5vmax;
            width: 23.5vmax;
            background-color: var(--dark-black);
            border-radius: 1vmax;
            overflow: hidden;
            flex-grow: 1;

            .part1 {
                height: 51%;
                width: 100%;
                background-color: var(--grey-color);
                border-radius: 1vmax 1vmax 0 3vmax;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    height: 10vmax;
                    width: 10vmax;
                    background-size: cover;
                    transition: transform .3s ease-in-out;
                }
            }

            &:hover > .part1 > img {
                transform: scale(1.1);
            }

            .part2 {
                height: 49%;
                width: 100%;
                padding: 1.5vmax;
                color: #fff;
                display: flex;
                flex-direction: column;
                gap: .5vmax;

                h2 {
                    font-family: opensans;
                    font-size: 1.3rem;
                    font-weight: 500;
                }

                .priceDiv {
                    height: 40%;
                    width: 100%;
                    /* background-color: green; */
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .golden_cart_btn {
                        padding: .7vmax;
                        font-size: 1rem;
                    }
                }
            }


        }
    }

    .view_more {
        height: 10vmax;
        width: 100%;
        /* background-color: blue; */
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 2.5vmax;

        .view_btn {
            padding: .75vmax 4vmax;
        }
    }
}

.section4 {
    height: 105vh;
    width: 100%;
    background-color: var(--dark-black);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vmax;

    .part1 {
        height: 80%;
        width: 30%;
        /* background-color: rgb(209, 238, 238); */
        padding: 0 1vmax;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .part2 {
        height: 50%;
        width: 38%;
        /* background-color: aqua; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 1vmax;
        gap: 1vmax;
        color: #fff;

        h1 {
            font-family: ds;
            font-size: 2.5rem;
        }
    }
}

.section5 {
    height: 90vh;
    width: 100%;
    /* background-color: rgb(243, 101, 101); */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vmax;


    .form_part {
        height: 80%;
        width: 37%;
        /* background-color: green; */
        padding-top: 1vmax;

        h1 {
            font-family: ds;
            font-size: 2.5rem;
            font-weight: 500;
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1vmax;
            padding: 2vmax 0;

            input {
                padding: 1vmax;
                border: 1px solid #222831;
                border-radius: .4vmax;
                outline: none;
                font-size: 1rem;
                color: #000;
            }
        }
    }

    .map_part {
        width: 37%;
        height: 52%;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0,0,0,0.15);
        margin: 20px 0;
    }
}

.section6 {
    height: 80vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vmax 0;

    h1 {
        height: 10%;
        text-align: center;
        font-family: ds;
        font-size: 2.5rem;
        font-weight: 500;
        /* background-color: grey; */
    }

    .crousal {
        height: 60%;
        width: 75%;
        /* background-color: blue; */
        display: flex;
        justify-content: space-between;

        .cards {
            height: 100%;
            width: 48.5%;
            display: flex;
            flex-direction: column;
            /* justify-content: space-between; */
            gap: 2.5vmax;

            .card_part {
                height: 55%;
                width: 100%;
                background-color: var(--dark-black);
                border-radius: .5vmax;
                color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: .3vmax;
                padding: 1.5vmax;

                h3 {
                    padding: .8vmax 0 0 0;
                }

                h4 {
                    font-weight: 100;
                }
            }

            .profile_pic {
                height: 8vmax;
                width: 8vmax;
                /* background-color: rgb(159, 158, 158); */
                margin-left: 1.5vmax;
                border-radius: 50%;
                border: 5px solid var(--golden-color);
                /* overflow: hidden; */
                position: relative;

                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .profile_pic::after {
                content: "";
                position: absolute;
                top: -15%;
                left: 50%;
                transform: translate(-50%);
                z-index: 9;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 15px solid var(--golden-color);
            }
        }
    }

    .navigation_btns {
        height: 10%;
        width: 80%;
        /* background-color: rgb(155, 155, 212); */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vmax;

        .btns {
            height: 3vmax;
            width: 3vmax;
            background-color: var(--golden-color);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            color: #fff;
        }
    }
}

footer {
    height: 60vh;
    width: 100%;
    background-color: var(--dark-black);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vmax;

    .info {
        height: 45%;
        min-width: 0;
        max-width: 63%;
        /* background-color: green; */
        margin-bottom: 2vmax;
        display: flex;
        /* flex-wrap: wrap; */
        gap: 4vmax;
        /* justify-content: space-between; */

        .data {
            height: 100%;
            max-width: 40%;
            /* background-color: blue; */
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1vmax;

            h1 {
                font-family: ds;
                font-weight: 500;
                margin-bottom: .8vmax;
            }
            
            #h1 {
                font-size: 2.4rem;
                margin-bottom: 0vmax;
            }

            h4 {
                font-weight: 500;
                display: flex;
                align-items: center;
                gap: .5vmax;
            }

            p {
                text-align: center;
            }

            .icons {
                width: 100%;
                display: flex;
                justify-content: center;
                gap: .3vmax;

                .icon {
                    height: 2.5vmax;
                    width: 2.5vmax;
                    color: var(--dark-black);
                    border-radius: 50%;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.2rem;
                }
            }
        }
    }

    h3 {
        font-weight: 300;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .golden_btn {
        padding: 1vmax 3vmax;
    }

    .section1 {
        min-height: 90vmax;
        width: 100%;
        background-image: url("./imgs/hero-bg.jpg");
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        
        nav {
            height: 12vmax;
            width: 100%;
            padding: 1vmax 2vmax;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            
            .logo {
                font-family: ds;
                font-size: 2rem;
                font-weight: 500;
            }

            .menu_toggle {
                display: flex;
                font-size: 3rem;
                transition: .5s;
            }

            /* #menu_close {
                display: none;
            } */
            
        }

        .nav_elems {
            display: none;
        }

        #responsive_elems {
            height: 0vmax;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2.5vmax;
            padding: 0vmax;
            overflow: hidden;
            /* display: none; */
            transition: .5s;
            
            .links {
                flex-direction: column;
                align-items: center;
                gap: 2.5vmax;
            }
            
            .others_elems {
                gap: 2vmax;
            }
        }

        .crousal {
            padding: 8vmax 2vmax 0 2vmax;
            justify-content: space-between;

            .desc {
                width: 100%;
            }

            .bullets {
                height: 25%;
                width: 8vmax;
            }
        }
    }

    .section2 {
        min-height: 100vmax;
        flex-direction: column;
        gap: 5vmax;
        /* display: none; */

        .banners {
            height: 42%;
            width: 90%;
            border-radius: .5vmax;
            flex-direction: column;
            justify-content: center;
            gap: 1.5vmax;
            padding-left: 0vmax;

            .part1 {
                height: 20vmax;
                width: 20vmax;
                border: .5vmax solid var(--golden-color);
                overflow: hidden;
            }

            .part2 {
                align-items: center;
                gap: 1vmax;
            }
        }

        .banners:hover > .part1 > img {
            transform: scale(1.1);
        }
    }

    .section3 {
        .cards {
            width: 100%;
            justify-content: center;
            
            .card {
                height: 27.5vmax;
                width: 45%;
                background-color: var(--dark-black);
                flex-grow: 0;

                .part1 {
                    height: 50%;
                }

                .part2 {
                    height: 50%;
                    padding: 1vmax;
                    gap: .5vmax;

                    h2 {
                        font-size: 1.2rem;
                    }

                    p {
                        font-size: .5rem;
                    }
                }
            }
        }

        .view_more {
            .view_btn {
                padding: 1vmax 3vmax;
            }
        }
    }

    .section4 {
        height: 100vmax;
        width: 100%;
        flex-direction: column;
        gap: 3vmax;
        /* display: none; */

        .part1 {
            height: 50%;
            width: 80%;
            /* background-color: rgb(209, 238, 238); */
            padding: 0 1vmax;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .part2 {
            height: 40%;
            width: 80%;
            /* background-color: aqua; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 1vmax;
            gap: 1vmax;
            color: #fff;

            h1 {
                font-family: ds;
                font-size: 2.5rem;
            }
        }
    }

    .section5 {
        height: 100vmax;
        /* background-color: rgb(243, 101, 101); */
        flex-direction: column;
        gap: 0vmax;
        /* display: none; */

        .form_part {
            height: 45%;
            width: 85%;
            padding-top: 0vmax;

            form {
                gap: 1.5vmax;
            }
        }

        .map_part {
            width: 90%;
            height: 45%;
            border-radius: .7vmax;
        }
    }

    .section6 {
        max-height: 100vmax;
        width: 100%;
        padding: 1vmax 0 0 0;
        /* display: none; */

        h1 {
            width: 80%;
        }

        .crousal {
            max-height: 80%;
            height: fit-content;
            width: 100%;
            /* background-color: blue; */
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1vmax;


            .cards {
                max-height: 100%;
                height: fit-content;
                width: 45%;
                display: flex;
                flex-direction: column;
                /* background-color: #fff; */
                gap: 2.5vmax;

                .card_part {
                    max-height: 75vmax;
                    height: fit-content;
                }

                .profile_pic {
                    height: 8vmax;
                    width: 8vmax;
                    margin-left: 1vmax;
                    position: relative;
                }

                .profile_pic::after {
                    top: -25%;
                }
            }
        }

        .navigation_btns {
            .btns {
                height: 4vmax;
                width: 4vmax;
            }
        }
    }

    footer {
        max-height: 90vmax;
        display: none;

        .info {
            height: 30vmax;
            min-width: 0;
            max-width: 100%;
            /* background-color: green; */
            margin-bottom: 2vmax;
            display: flex;
            /* flex-wrap: wrap; */
            flex-direction: column;
            gap: 4vmax;
            /* justify-content: space-between; */

            .data {
                height: 100%;
                max-width: 40%;
                /* background-color: blue; */
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1vmax;

                h1 {
                    font-family: ds;
                    font-weight: 500;
                    margin-bottom: .8vmax;
                }
                
                #h1 {
                    font-size: 2.4rem;
                    margin-bottom: 0vmax;
                }

                h4 {
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    gap: .5vmax;
                }

                p {
                    text-align: center;
                }

                .icons {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    gap: .3vmax;

                    .icon {
                        height: 2.5vmax;
                        width: 2.5vmax;
                        color: var(--dark-black);
                        border-radius: 50%;
                        background-color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1.2rem;
                    }
                }
            }
        }

        h3 {
            font-weight: 300;
            text-align: center;
        }
    }    
}